@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto'
}
.nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
}
#logo{
    width: 280px;
    padding: 40px;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 20%;
    float: right;
    list-style: none;
    align-items: center;
    margin: 2rem;
}
.dropdown {
    position:static;
    display: inline-block;
    right: 20px;
}
.drop-list a{
    display: block;
}
.drop-list {
    display: none;
    width: 200px;
    position:absolute;
    right: 10px;
    list-style: none;
    -webkit-box-shadow: -23px 27px 44px 0px rgba(10,9,10,0.53);
    -moz-box-shadow: -23px 27px 44px 0px rgba(10,9,10,0.53);
    box-shadow: -23px 27px 44px 0px rgba(10,9,10,0.53);
}

.drop-list li {
    padding: 10px;
}

.dropdown:hover .drop-list {
    display: block;
}
.links a{
    color: #ababab;
}
#about{
    color: #00b39b;;
}
.cen-logo{
    width: 40px;
}
.img_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#main-h1 {
    text-align: center;
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.discrip {
    width: 100%;
    display: flex;
    margin: 80px 0;
    color: #747474;
}
.des-txt1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    line-height: 1.5rem;
    color: #747474;
    margin-left: 190px;
}
.des-txt2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5rem;
    color: #747474;
    margin-right: 190px;
}
.the-for {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 1.3em;
}
.patients {
    background-color: #00ccb1;
}
.doctors{
    background-color:#2596be ;
}
.clinics{
    background-color:#130d21;
}
.doctors , .patients , .clinics {
    color: azure;
    border-radius: 10px;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
}
.patients img{
    margin: 20px 0 0 20px;
}
.patients_txt {
    font-size: 1.5rem;
    margin: 10px;
}
span{
    margin: 20px;
}
label{
    margin: 15px;
}
.doctors img{
    margin: 20px 0 0 20px;
}
.doctors_txt{
    font-size: 1.5rem;
    margin: 10px;
}
.clinics img{
    margin: 20px 0 0 20px;
    width: 20px;
    height: 20px;
}
.clinics_txt{
    font-size: 1.5rem;
    margin: 10px;
}

